<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="css/custom.css">

</head>
<body>
<h3 ng-if="fact">Search Result:</h3>
	<div ng-repeat="showws in fact">
	<div class="container" >
	<div class="panel panel-default">
    <div style="background-color:dimgray; color:white" class="panel-heading">
		<div class="row">
		 	<div class="col-sm-4">
			<div ng-if = "showws.show.image.medium == null">
				<img src="/image/def.jpg" height ="250" width ="250" >
				</div>
    			<img src="{{showws.show.image.medium}}">
    		</div> 
    		<div class="col-sm-6">
				<h2>{{showws.show.name}}</h2>
				<br><p align="justify" ng-bind-html='showws.show.summary | trustHTML'></p>
				<a href = "/shows/{{showws.show.id}}" class = "btn btn-warning pull-right">Details</a>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>		
</body>
</html>